Source: ubuntu-express
Section: admin
Priority: optional
Maintainer: Javier Carranza <javier.carranza@interactors.coop>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ubuntu-express
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, debconf, yaboot | grub, ubuntu-express-frontend, system-tools-backends, ubuntu-express-doc
Recommends: partman-ue, gparted
Description: Ubuntu Live installer
 Live installers have featured itself until now by being very
 simple, friendly and graphical.
 .
 This Live Installer will be a simple one and well integrated with Debian and
 Ubuntu based systems.
 .
 Use Cases:
   * An user takes Ubuntu, he likes it and wants to install, as is, in his
 computer.
   * An user takes Ubuntu, he likes it, tests it, configures it and wants to have
 it installed, keeping the stored configuration, in his computer.
   * An user has tried Ubuntu, he knows that likes it and wants to install it,
 but neither wants nor needs to launch the complete distro (Desktop and so
 on). He just wants a fast and simple way to install.
   * An user has installed Ubuntu from Live version and wants to be able to have
 a configuration file with the chosen options, so in case he needs to reinstall
 or to install in a similar computer, just must get it.

Package: ubuntu-express-ubuntu-artwork
Architecture: all
Depends: ${shlibs:Depends}
Provides: ubuntu-express-artwork
Description: Ubuntu artwork for Ubuntu Express Live installer
 This package provides a set of pixmaps, logo images and colormap for window
 styles and Ubuntu Express UI. All the stuff provide by this package is Ubuntu
 related.

Package: ubuntu-express-guadalinex-artwork
Architecture: all
Depends: ${shlibs:Depends}
Provides: ubuntu-express-artwork
Description: Guadalinex artwork for Ubuntu Express Live installer
 This package provides a set of pixmaps, logo images and colormap for window
 styles and Ubuntu Express UI. All the stuff provide by this package is
 Guadalinex related.

Package: ubuntu-express-ubuntu-doc
Architecture: all
Depends: ${shlibs:Depends}
Provides: ubuntu-express-doc
Description: Ubuntu Documentation and help files for Ubuntu Express Live installer
 This package provides a set of help files, html pages for the Ubuntu Express
 UI, text messages for the installer and more stuff related to Ubuntu
 distribution.

Package: ubuntu-express-guadalinex-doc
Architecture: all
Depends: ${shlibs:Depends}
Provides: ubuntu-express-doc
Description: Guadalinex Documentation and help files for Ubuntu Express Live installer
 This package provides a set of help files, html pages for the Ubuntu Express
 UI, text messages for the installer and more stuff related to Guadalinex
 distribution.

Package: ubuntu-express-frontend-gtk
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python2.4-gnome2-extras, python2.4-glade2, gparted ( >= 0.0.8+cvs2005061901-0ubuntu2 ), ubuntu-express-artwork, ubuntu-express-doc
Provides: ubuntu-express-frontend
Description: Gtk+ Frontend for Ubuntu Express Live installer
 This package provides a Gtk+ based Ubuntu Express GUI.
