Package: ubuntu-express-ubuntu-doc
Version: 0.91ubuntu1
Section: admin
Priority: optional
Architecture: all
Provides: ubuntu-express-doc
Installed-Size: 516
Maintainer: Javier Carranza <javier.carranza@interactors.coop>
Source: ubuntu-express
Description: Ubuntu Documentation and help files for Ubuntu Express Live installer
 This package provides a set of help files, html pages for the Ubuntu Express
 UI, text messages for the installer and more stuff related to Ubuntu
 distribution.
