Package: ubuntu-express-frontend-gtk
Version: 0.91ubuntu1
Section: admin
Priority: optional
Architecture: all
Provides: ubuntu-express-frontend
Installed-Size: 164
Maintainer: Javier Carranza <javier.carranza@interactors.coop>
Source: ubuntu-express
Description: Gtk+ Frontend for Ubuntu Express Live installer
 This package provides a Gtk+ based Ubuntu Express GUI.
